<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <section>
            <h2>Get in touch</h2>
            <div class="contact-links">
                <a class="button fas fa-external-link-alt" href="https://mlipina1234.github.io/" 
                    target="_blank">Mark Lipina</a>
                <a class="button fas fa-external-link-alt" href="https://patrickode.github.io"
                    target="_blank">Patrick Mitchell</a>
                <a class="button fas fa-external-link-alt" href="https://people.rit.edu/kle4382/portfolio/" 
                    target="_blank">Kayleigh East</a>
                <a class="button fas fa-external-link-alt" href="https://eddiebrazier.github.io/" 
                    target="_blank">Eddie Brazier</a>
                <a class="button fas fa-external-link-alt" href="https://people.rit.edu/cnk5777/portfolio" 
                    target="_blank">Caleb Katzenstein</a>
            </div>
        </section>
        <ul class="copyright">
            <li>&copy; Untitled. All rights reserved</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>